*{
    margin:0;
    padding : 0 ;
    box-sizing:content-box;
}
html,body{
    height : 100%;
    width :100%;
    font-family : "Reddit Sans", sans-serif
}
.main{
    display:grid;
    background-color : #D0CDC2;
    height : 100%;
    width :100%;
    grid-template-columns: 22% 22% 48% 8%;
    grid-template-rows: 26% 50% 24%;
}

#elem1{
    background :transparent;
    padding : 7%;
}
#diamond{
    height : 20px;
    width : 20px;
    background-color: black;
    transform :rotate(45deg); 
}
#elem2{
    background : transparent ;
    padding  : 4%;
    text-align: right;
    justify-self: end;
    text-transform: capitalize;
}
#elem2 i{
    display :none;
}
#elem2 h3:hover{
    font-size: larger;
}
#elem3{
    background: transparent;
    grid-column-start: 1;
    grid-column-end : 3;
    padding :4%;
    display : flex;
    flex-direction : column;
    justify-content: flex-end ;
}
.thirddiv{
    text-transform: uppercase;
    font-weight: 600;
    font-size : 4rem;
    font-family: montserrat;
    line-height : 0.9;

}
#elem3 .thirddiv:nth-of-type(2){
    margin-left :14%;
}
#elem3 .thirddiv:nth-of-type(4){
    margin-left :24%;
}
#elem4{
    background : transparent;
    grid-column :1 /3;
    margin :5% ;
    margin-top : 8%;
   
}
#elem4 p{
    width :80%;
}

#elem5{
   
    grid-row: 1/4;
    grid-column : 3;
    margin : 5%;
    overflow: hidden;
}
video {
 object-fit: cover;
 
 height :100%;
 width :100%;

}
#arrow{
    border-radius :50%;
    position : absolute;
    height : 7vw;
    width : 7vw;
    background-color: orange;
    z-index :2;
    top :41%;
    left :43%;
    display : flex;
    align-items: center;
    justify-content: center;
}
#elem6{
    display:flex;
    padding:15%;
    padding-top : 2vw;
    justify-content: flex-end;
    grid-row: 1/4;
    grid-column:4;
    background : transparent;
}

@media(max-width : 771px){
    .main{
        height: 100%;
        width :100%;
        grid-template-rows: 10% 35% 30% 25%;
        grid-template-columns : 50% 50%;
    }
    #elem1{
        grid-row :1;
        grid-column :1;
    }
    #elem2{
        grid-row :1; 
        grid-column :2;
        display :flex;
        justify-content : flex-end;
        padding :10%;
    }
    #elem2 h3{
        display :none;
    }
    #elem2 i{
        display :block;
    }
    #elem3{
        grid-row : 2;
        grid-column :1/3;
    }
    .thirddiv{
        font-size: 2rem;
    }
    #elem4{
        grid-column :1/3;
        grid-row :4;
        margin-bottom :2%;
        font-size: smaller;
        display : flex ;
        flex-direction  :column;
        justify-content: flex-end;
    }
    #elem5{
        grid-column :1/3;
        grid-row :3;
        margin : 0% 5%;
    }
    #arrow{
        border-radius :50%;
        position : absolute;
        height : 12vw;
        width : 12vw;
        min-width: 40px;
        min-height: 40px;
        transform :rotate(90deg);
        background-color: orange;
        z-index :2;
        top :30%;
        left :69%;
        display : flex;
        align-items: center;
        justify-content: center;
    }
    #elem6{
        display : none;
    }
   
    
}